body{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 80vh;
    height: 80vh   ;
    background-color: #f4fad8;
}
.parent {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . .";
 margin: auto;
  border-radius:10px;
    box-shadow: 0 0 0 4px #373539;
 
}
#xo{
    display: flex ;
    justify-content: center;
}
#x{ 
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border: 2px solid #111111; 
    margin-bottom: 10px;
    width: 150px;
    height: 50px;
    margin: 20px;
    background-color: rgb(219, 182, 136);
     border-radius:10px;
    box-shadow: 0 0 0 4px #373539;
 }
 #o{
     display: flex;
    flex-direction: row;
    justify-content: space-around; 
    border: 2px solid #111111; 
    margin-bottom: 10px;
    width: 150px;
    height: 50px;
    margin: 20px;
    background-color: rgb(219, 182, 136);
     border-radius:10px;
    box-shadow: 0 0 0 4px #373539;
 }
 #turn{
    border: 2px solid #111111; 
    margin-bottom: 10px;
    width: 150px;
    height: 50px;
    margin: 20px;
    margin: auto;
    background-color: rgb(219, 182, 136);
     border-radius:10px;
    box-shadow: 0 0 0 4px #373539;
 }
 #para-turn{
    display: flex  ;
    justify-content: space-around;
    margin: 10px;
    color: #6c2424;
    font-size: x-large;
 }
 .inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
.btn {
    height: 150px;
    width: 150px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.footer{
display: flex;
justify-content: center;
align-items: center;

}
.restart{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    width: 150px;
    margin: auto;
    background-color: rgb(166, 91, 63);
    border-radius:10px;
    box-shadow: 0 0 0 4px #373539;
    transition: 0.7s;
}
#p-x{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    margin:8px;
}
#p-o{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: xx-large;
    margin:5px;
}
#score-x{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    margin: 14px;
}
#score-o{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    margin: 14px;
}
  #msg {
    font-size: 2.5rem;
    color: azure;
    text-align: center;
}
.msg-container {
    position:fixed; 
    top: 50%;   
    left: 50%;     
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 1000; /
}
.hide {
            display: none;
}
#new-btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    width: 150px;
    margin: auto;
    background-color: rgb(166, 91, 63);
    border-radius:10px;
    box-shadow: 0 0 0 4px #373539;
    border: none;
}